body {
    background-color: #0b0b0c;
    padding: 7vb;

}
.gallery {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.images img {
    width: 350px;
    height: 450px;
    margin: auto;
}
