.header{
    background-color: #00ff15;
}

.header-name{
    color: #ffd000;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    margin-left: 13%;
}

.header-links{
    text-align: right;
    margin-right: 5%;
}

.header-link{
    text-decoration: none;
    font-size: 20px;
    color:rgb(255, 0, 0);
}

.logo{
    width: 60px;
    height: 60px;
}

.Platon{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.Platon-width{
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}

.meme1{
    display: block;
    margin: 0 auto;
}

.meme{
    width: 100px;
    height: 100px;
}

.carousel-control-prev{
    margin-left: 10%;
}

.carousel-control-next{
    margin-right: 10%;
}

.carousel{
    background-color: #1f1c1c;
    margin-left: 10%;
    margin-right: 10%;
}

.body{
    margin: 0;
    background-image: url("../../source/anonymous-guy-fawkes-mask-meme-7dh90tmvfgd3f30j.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.hype{
    color: #0004ff;
    background-color: #df0909c4;
    margin-left: 34%;
    margin-right: 34%;
    font-size: 24px;
    border-radius: 20px;
    text-decoration: none;
}

.hype:hover{
    background-image: url("../../source/IMG_20250711_203637_489.jpg");
    background-size: 10%;
}

.ads{
    background-color: rgb(246, 188, 253);
    border-radius: 12px;
}