* {
    margin: 0;
    color: #1D1D1D;
    font-size: 14px;
    line-height: 1.65em;
}

.flex-box {
    gap: 3vh;
}

.content-block {
    width: 100vw;
}

.flex-links {
    order: 2;
}

.flex-table {
    order: 1;
}

.flex-form {
    order: 3;
}

.links-menu li{
    display: block;
    list-style-type: none;
}

.header-1 {
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    .header-1 {
        all: unset;
    }

    .flex-links {
        order: 1;
    }

    .flex-table {
        order: 2;
    }

    .flex-form {
        order: 3;
    }

    .nav-links {
        display: inline;
        float: right;
    }

    .links menu li{
        display: inline;
    }

    .flex-box {
        gap: 0vh;
    }
