* {
  margin: 0;
  font-size: 14px;
  line-height: 1.65em;
  text-align: center;
}

html{
  background-color: #26222d;
}

#header {
  width: 100%;
  heaight: 120px;
  background-color: #3d3848;
  text-align: center;
}

#logo {
  width: 120px;
  height: 120px;
  float: left;
  padding-left: 20%;
  padding-top: 20px;
}

#siteName {
  float: left;
  text-align: center;
  padding-left: 20px;
  line-height: 120px;
}

#ref1{
  float: right;
  padding-right: 20px;
  line-height: 120px
}

#ref2, #ref3{
  float: right;
  padding-right: 20px;
  line-height: 120px
}


#refs, #form, #table {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #3d3848;
  max-width: 960px;
  border-radius: 20px;
}

#table_1{
    border-color: #fff;
    border: 2px;
    margin: auto;
    width: 600px;
}

#footer{
    width: auto;
    height: 80px;
    background-color: #3d3848;
}

#footer_sign{
    float: left;
    text-align: center;
    padding-left: 20%;
    line-height: 120px;
}

.even {
    background-color: #26222d;
}

.odd {
    background-color: #3d3848;
}
